<div class="container">
    <h3 class="text-center mt-5">Greatest Quotes of all the time</h3>
    <form>
        <div class="form-group">
            <label for="quote" class="mb-3">Quote</label>
            <textarea id="quote" name="quote" cols="10" rows="10" class="form-control" placeholder="Enter Quote"></textarea>
        </div>

        <div class="form-group mt-4">
            <label for="quote" class="mb-3">Author</label>
            <input type="text" id="author" class="form-control" placeholder="Enter Quote Author">
        </div>

        <div class="form-group mt-4">
            <label for="quote" class="mb-3">Publisher</label>
            <input type="text" id="publisher" class="form-control" placeholder="Enter Quote Publisher">
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-primary mt-5">Add Quote</button>
        </div>
    </form>
</div>
